.container {
    height: 100%;
    align-items: center;
    justify-content: center;
}
@media (min-width: 768px) {
    .container {
        align-items: center;
        justify-content: center;
    }

}
.card {
    width: 40%;
    height: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}
.card img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}
.cambios button {
    margin-top: 10px;
    background-color: #3E92CC;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.cambios button:hover {
    background-color: #19255e;
}
.casilla {
    text-align: center;
}
